body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div {
    margin: 20px;
    text-align: left;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}